# Node modules
node_modules/
test/
*.txt

# Build output
build/
dist/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# NPM packages
*.log
*.lock
*.swp

# Editor files
.vscode/
.idea/

# Dependency directories
public/
coverage/
.cache/
